@using Estral.Host.Web.Infra
@using Estral.Host.Web.Infra.Extensions
@inject StorageHelper storageHelper
@inject IConfiguration config

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/app.css" />
    <title>@ViewData[ViewDataKeys.Title]</title>

    @if (ViewData[ViewDataKeys.OpenGraphModel] is OpenGraphModel og)
    {
        <meta property="og:title" content="@og.Title" />
        <meta property="og:image" content="@storageHelper.GetCdnUrl(og.Id)" />
        <meta property="og:image:secure_url" content="@storageHelper.GetCdnUrl(og.Id)" />

        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://@config.GetRequiredValue("AppDomain")/content/@og.Id" />
        <meta name="twitter:card" content="summary_large_image">
    }

    @RenderSection("Head", required: false)
</head>
<body>
    <header style="background-color: var(--black);">
        <div id="header-div">
            <nav id="header-nav">
                <div id="header-menu-container">
                    <button type="button" id="header-menu-button" aria-label="Menu">
                        <img src="/borgor.svg" alt="Menu" />
                    </button>
                    <menu id="header-menu">
                        @if (User.IsAuthenticated())
                        {
                            <a href="/settings">Settings</a>
                            <a href="/auth/logout">Log out</a>
                        }
                        else
                        {
                            <a href="/auth/login">Log in</a>
                        }
                        <a href="/boring/privacy">Privacy policy</a>
                        <a href="/boring/terms">Terms of service</a>
                    </menu>
                </div>
                <a href="/">Home</a>
                <a href="/content/browse">Browse</a>
                @if (User.IsAuthenticated())
                {
                    <a href="/content/upload">Upload</a>
                }
                @if (User.IsAuthenticated())
                {
                    <a href="/user/@User.GetUserId()">
                        <img style="width: 28px; height: 28px;" src="@storageHelper.GetCdnPfpUrl(User.GetUserId()!.Value)" />
                    </a>
                }
                else
                {
                    <a href="/auth/login">Log in</a>
                }
            </nav>
        </div>
        <script>
            const button = document.getElementById("header-menu-button");

            button.addEventListener("click", () => {
                const menu = document.getElementById("header-menu");
                menu.style.display = menu.style.display === "none" ? "" : "none";
            });

            button.click();
        </script>
        <style>

        </style>
    </header>

    <noscript>
        Please enable javascript to use this website
    </noscript>

    <main>
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)

    <div id="cookiefun">
        <p>By using this website, you agree to the use of necessary first party cookies and necessary Cloudflare cookies</p>
        <button class="button" id="cookiefun-accept">I accept :)</button>
    </div>

    <style>
        #cookiefun {
            position: fixed;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.75em;
            background-color: var(--platinum-darkest);
            padding: 12px;
            display: none;
        }

        #cookiefun-accept {
            --bg: var(--orange);
            --bg-hover: var(--platinum-lighter);
        }
    </style>

    <script>
        (() => {
            const fun = document.getElementById("cookiefun");
            const accepted = localStorage.getItem("cookiefun_accepted");
            console.log(fun, accepted);

            if (!accepted) {
                fun.style.display = "flex";
                document.getElementById("cookiefun-accept").addEventListener("click", () => {
                    localStorage.setItem("cookiefun_accepted", "1");
                    fun.style.display = "none";
                });
            }
        })();
    </script>

</body>
</html>
