@page "/Content/{id:int}"
@model Estral.Host.Web.Features.Pages.Content.Content.ContentModel
@inject Estral.Host.Web.Infra.StorageHelper storageHelper
@using Estral.Host.Web.Infra.Authorization
@{
    ViewData[Estral.Host.Web.Infra.ViewDataKeys.Title] = Model.NotFound ? "Not found" : $"{Model.ContentData.Title} | {Model.ContentData.OwnerName}";
}

@section Head {
    <link rel="stylesheet" href="/content.css" />   
}

@if (Model.ErrorMessage is not null)
{
    <p>@Model.ErrorMessage</p>
}

@if (Model.NotFound)
{
    <h2>404: Not found</h2>
}
else
{
    <header id="content-header">
        <div>
            <h2 style="word-break: break-all">
                @Model.ContentData.Title
            </h2>
            <a href="/user/@Model.ContentData.OwnerId" class="link" style="word-break: break-all">
                @Model.ContentData.OwnerName
            </a>
            <p style="word-break: break-all">
                @Model.ContentData.Description
            </p>
        </div>
        <div id="content-buttons">
            <button type="button" class="button" id="content-button-copy">Copy link</button>
            @if (Model.IsOwner || User.IsInRole(Roles.Admin))
            {
                <button type="button" class="button" id="content-button-delete">Delete</button>
            }
        </div>
    </header>

    <div id="content-image-container">
        <img src="@storageHelper.GetCdnUrl(Model.ContentData.Id)" />
    </div>


    @* the beauty of html forms: our DELETE has to be a POST because html forms dont support the DELETE verb for whatever fucking reason *@
    <div style="display: none">
        <helper:form id="form" method="POST">
            @Html.AntiForgeryToken()
        </helper:form>
    </div>

    <script type="module">
        const button = document.getElementById("content-button-copy");
        button.addEventListener("click", () => {
            navigator.clipboard.writeText(window.location)
                .catch(e => alert("Could not write text to clipboard, please copy manually"));
        });
    </script>

    <script type="module">
        const button = document.getElementById("content-button-delete");
        button.addEventListener("click", () => {
            if (!confirm("Do you want to permanently delete this content?")) return;
            document.getElementById("form").submit();
        });
    </script>
}

<style>

</style>
