@page "/Content/Upload"
@using Estral.Host.Web.Features.Pages.Content.Upload
@model UploadModel

@if (Model.ErrorMessage is not null)
{
    <p>@Model.ErrorMessage</p>
}

<form method="POST" enctype="multipart/form-data" action="/content/upload">
    @Html.AntiForgeryToken()
    <div>
        <label for="file">File</label>
        @Html.ValidationMessage(nameof(UploadModel.PostDto.File))
        <input required type="file" id="file" name="file" />
    </div>
    <div>
        <label for="title">Title</label>
        @Html.ValidationMessage(nameof(UploadModel.PostDto.Title))
        <input required type="text" id="title" name="title" maxlength="@UploadModel.TitleMaxLength" />
    </div>
    <div>
        <label for="description">Description</label>
        @Html.ValidationMessage(nameof(UploadModel.PostDto.Description))
        <textarea id="description" name="description" maxlength="@UploadModel.DescriptionMaxLength"></textarea>
    </div>
    <div>
        <button type="submit">Upload</button>
    </div>
</form>
