@page "/Content/Upload"
@using Estral.Host.Web.Features.Pages.Content.Upload
@model UploadModel
@{
    ViewData[Estral.Host.Web.Infra.ViewDataKeys.Title] = "Upload";
}

@if (Model.ErrorMessage is not null)
{
    <p>@Model.ErrorMessage</p>
}

<article id="page">
    <div id="left">
        <p>Preview</p>
        <div id="preview">
            <img src="#" />
        </div>
    </div>

    <form id="right" method="POST" enctype="multipart/form-data" action="/content/upload">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="file">File</label>
            @Html.ValidationMessage(nameof(UploadModel.PostDto.File))
            <input required type="file" id="file" name="file" />
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            @Html.ValidationMessage(nameof(UploadModel.PostDto.Title))
            <input required type="text" id="title" name="title" maxlength="@UploadModel.TitleMaxLength" />
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            @Html.ValidationMessage(nameof(UploadModel.PostDto.Description))
            <textarea id="description" name="description" maxlength="@UploadModel.DescriptionMaxLength"></textarea>
        </div>

        <div class="form-group">
            <label>Tags</label>
            @Html.ValidationMessage(nameof(UploadModel.PostDto.Tags))

            <input type="text" id="tag-search" maxlength="@Estral.Host.Web.Database.Tag.NameMaxLength" />

            <div>
                <button type="button" class="button" id="tag-search-button">Search tags</button>
                <button type="button" class="button" id="tag-add-button">Add tag</button>
            </div>

            <div id="tag-search-results"></div>

            <div id="tags"></div>

            <script type="module">
                const searchInput = document.querySelector("#tag-search");
                const searchButton = document.querySelector("#tag-search-button");
                const addButton = document.querySelector("#tag-add-button");
                const resultsContainer = document.querySelector("#tag-search-results");
                const tagsContainer = document.querySelector("#tags");

                searchButton.addEventListener("click", async () => {

                    resultsContainer.innerHTML = "";

                    const text = searchInput.value;
                    const response = await fetch("/api/tags/search?q=" + encodeURIComponent(text), {
                        headers: {
                            "accept": "application/json"
                        }
                    });

                    console.log(response);
                    const json = await response.json();
                    console.log(json);

                    // json is [ { id: int, name: string } ]

                    for (let i = 0; i < json.length; i++) {
                        const tag = json[i];

                        if (tagIsAdded(tag.name)) {
                            continue;
                        }

                        const container = document.createElement("div");
                        container.dataset.id = tag.id;

                        const pname = container.appendChild(document.createElement("p"));
                        pname.innerText = tag.name;

                        const button = container.appendChild(document.createElement("button"));
                        button.innerText = "Add tag";
                        button.addEventListener("click", () => {
                            addTag(tag.name);
                            container.remove();
                        });

                        resultsContainer.appendChild(container);
                    }
                });

                addButton.addEventListener("click", () => {
                    const name = searchInput.value;
                    if (!tagIsAdded(name)) {
                        addTag(name);
                    }
                });

                function addTag(name) {
                    const container = document.createElement("div");

                    const input = container.appendChild(document.createElement("input"));
                    input.name = "tags";
                    input.value = name;
                    input.type = "hidden";

                    const pname = container.appendChild(document.createElement("p"));
                    pname.innerText = name;

                    const button = container.appendChild(document.createElement("button"));
                    button.type = "button";
                    button.innerText = "Remove";
                    button.classList.add("button");
                    button.addEventListener("click", () => {
                        container.remove();
                    });

                    tagsContainer.appendChild(container);
                }

                function tagIsAdded(name) {
                    const tags = Array.from(tagsContainer.children);
                    for (let i = 0; i < tags.length; i++) {
                        if (tags[i].querySelector("input").value == name) {
                            return true;
                        }
                    }

                    return false;
                }

            </script>

            <style>
                #tag-search-results {
                    display: flex;
                    gap: 0.25em;
                    flex-wrap: wrap;
                }

                #tags {
                    display: flex;
                    gap: 1em;
                    flex-wrap: wrap;
                }

                #tags > div {
                    display: flex;
                    gap: 0.5em;
                    align-items: center;
                    padding: 4px;
                    background: var(--magenta);
                    color: black;
                    border-radius: 4px;
                }

                #tags button {
                    padding: 3px;
                }
            </style>
        </div>

        <div>
            <button type="submit" class="button">Upload</button>
        </div>

        <style>
            .form-group {
                display: flex;
                flex-direction: column;
                gap: 0.2em;
            }
        </style>
    </form>
</article>

<script type="module">
    const input = document.getElementById("file");
    const preview = document.querySelector("#preview img");

    input.addEventListener("change", () => {
        const file = input.files[0];
        preview.src = URL.createObjectURL(file);

        // free memory ?
        preview.addEventListener("load", () => URL.revokeObjectURL(preview.src), { once: true });
    });
</script>

<style>
    #page {
        display: flex;
        height: 100%;
        gap: 1em;
    }

    #left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2em;
        flex-grow: 1;
    }

    #preview {
        position: relative;
        flex-grow: 1;
        display: grid;
        place-items: center;
        width: 100%;

        & img {
            width: calc(100% - 4px);
            position: absolute;
            object-fit: contain;
            max-height: 100%;
            border: 1px solid gray;
        }
    }

    #right {
        min-width: 35%;
        display: flex;
        flex-direction: column;
        gap: 0.75em;
        width: var(--default-page-width);
        margin-left: auto;
        margin-right: auto;
    }

    @@media screen and (width <= 1000px) {
        #page {
            flex-direction: column;
        }
    }
</style>
